<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>No reply on our emails</title>
</head>
<body>
<p>Dear customer,</p>
<p></p>
<p>Unfortunately we have had no reply on our request for additional information.</p>
<p>We will cease processing your mortgage application for now as we are not able to continue without the requested
  information.</p>
<p>You will be contacted in the near future regarding your request.</p>
<p>To see your request and add the needed information, see: [[${requestUrl}]]</p>
<p></p>
<p>Thank you,</p>
<p>Big Bank</p>
</body>
</html>
