<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update on your mortgage request</title>
</head>
<body>
<p>Dear customer [[${customerName}]],</p>
<p></p>
<p>Your mortgage request has been reviewed and we are sorry to say we can not make you a valid offer for the time being.</p>
<p>You will be contacted by our customer department to go over the details of the rejected offer and further steps we can take.</p>
<p>To see your request, see: [[${requestUrl}]]</p>
<p></p>
<p>Thank you,</p>
<p>Big Bank</p>
</body>
</html>