<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reminder: Additional information needed for your mortgage appliction</title>
</head>
<body>
<p>Dear customer,</p>
<p></p>
<p>Unfortunately we have not yet received the requested information.</p>
<p>Please provide the requested information as soon as you are possible so we can process your application.</p>
<p>To see your request and add the needed information, see: [[${requestUrl}]]</p>
<p></p>
<p>Thank you,</p>
<p>Big Bank</p>
</body>
</html>